#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img{
 margin-top: 10px;
  
}

#hello{
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  margin: 15px;
  width: 80%; 
  border: 2px solid antiquewhite;

}

button{
  padding: 10px;
  
}


